<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/default_layout}">
<head>
</head>
<div layout:fragment="contentFragment">
    <div class="container">
      <div class="imgBox">
         <img src="/static/img/t4/freere.png" class="img" alt="프리레" style="width: 1120px;">
         <input type="checkbox" name="zodiacSkill" class="zodiacSkill attackIc" id="start" style="top:543px; left:87px" th:value="10">
         <input type="checkbox" name="zodiacSkill" class="zodiacSkill first meleeIc" style="top:350px; left:196px" th:value="10">
         <input type="checkbox" name="zodiacSkill" class="zodiacSkill first attackSpeedIc" style="top:422px; left:299px" th:value="2">
         <input type="checkbox" name="zodiacSkill" class="zodiacSkill first arrowIc" style="top:508px; left:410px" th:value="10">
         <input type="checkbox" name="zodiacSkill" class="zodiacSkill first continuousIc" style="top:604px; left:516px" th:value="10">
         <input type="checkbox" name="zodiacSkill" class="zodiacSkill second attackIc attackRating"  style="top:343px; left:540px" th:value="10" th:value1="10">
         <input type="checkbox" name="zodiacSkill" class="zodiacSkill third attackCritical" style="top:249px; left:764px" th:value="10">
         <input type="checkbox" name="zodiacSkill" class="zodiacSkill third continuousIc" style="top:370px; left:812px" th:value="10">
         <input type="checkbox" name="zodiacSkill" class="zodiacSkill third wideArea" style="top:495px; left:811px" th:value="20">
         <input type="checkbox" name="zodiacSkill" class="zodiacSkill fourth attackIc mpFlat" style="top:274px; left:1027px" th:value="10" th:value1="30">
      </div>
    </div>
</div>

</html>