<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/default_layout}">
<head>
</head>
<div layout:fragment="contentFragment">
    <div class="container">
        <div class="imgBox">
            <img src="/static/img/t5/contrast.png" class="img" alt="명암" style="width: 1120px;">
            <input type="checkbox" name="zodiacSkill" class="zodiacSkill start physicIc"
                   style="top:418px; left:69px" th:value="10">
            <!--          위 에서 부터    1-->
            <div>
                <input type="checkbox" name="zodiacSkill" class="zodiacSkill first nomalIcRs"
                       style="top:329px; left:212px" th:value="2">
                <input type="checkbox" name="zodiacSkill" class="zodiacSkill physicIc hpFlat"
                       style="top:292px; left:467px" th:value="10" th:value1="25">
                <input type="checkbox" name="zodiacSkill" class="zodiacSkill last elementRs"
                       style="top:314px; left:887px" th:value="2">
            </div>
            <!--            2 -->
            <div>
                <input type="checkbox" name="zodiacSkill" class="zodiacSkill first defenseIc"
                       style="top:391px; left:337px" th:value="10">
                <input type="checkbox" name="zodiacSkill" class="zodiacSkill physicIc hpFlat"
                       style="top:355px; left:611px" th:value="10" th:value1="25">
                <input type="checkbox" name="zodiacSkill" class="zodiacSkill last defenseIc"
                       style="top:400px; left:781px" th:value="10">
            </div>
            <!--            3 -->
            <div>
                <input type="checkbox" name="zodiacSkill" class="zodiacSkill first evasionIc"
                       style="top:455px; left:237px" th:value="12">
                <input type="checkbox" name="zodiacSkill" class="zodiacSkill physicIc hpFlat"
                       style="top:439px; left:473px" th:value="10" th:value1="25">
                <input type="checkbox" name="zodiacSkill" class="zodiacSkill last evasionIc"
                       style="top:463px; left:684px" th:value="12">
            </div>
            <!--            4 -->
            <div>
                <input type="checkbox" name="zodiacSkill" class="zodiacSkill first shieldIc"
                       style="top:566px; left:249px" th:value="6">
                <input type="checkbox" name="zodiacSkill" class="zodiacSkill physicIc hpFlat"
                       style="top:535px; left:573px" th:value="10" th:value1="25">
                <input type="checkbox" name="zodiacSkill" class="zodiacSkill last shieldIc"
                       style="top:538px; left:831px" th:value="6">
            </div>

            <input type="checkbox" name="zodiacSkill" class="zodiacSkill end physicIc hpIc"
                   style="top:420px; left:1021px" th:value="10" th:value1="3">
        </div>
    </div>
</div>


</html>