<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.w3.org/1999/xhtml">
<header th:fragment="headerFragment">
    <div class="container">
       <a th:href="@{/}"><h3 class="text-center" > 언디셈버 dps계산기</h3></a>
        <div class="lvandPoint">
            <div class="row">
                <div class="col-lg-3">
                    <div class="input-group">
                        <label class="input-group-text"> 레벨</label>
                        <input type="number" class="level" id="level" name="level">
                    </div>
                </div>
                <div class="col-lg-1"></div>
                <div class="col-lg-3">
                    <div class="input-group">
                        <label class="input-group-text"> 사용가능 포인트</label>
                        <input type="number" class="skillPoint" name="skillPoint" readonly>
                        <button type="button" class="resetBtn btn-danger"> 초기화</button>
                    </div>
                </div>
                <div class="col-lg-1"></div>
                <div class="col-lg-3">
                    <div class="input-group">
                        <label class="input-group-text"> 사용한 포인트</label>
                        <input type="number" class="usedSkillPoint" name="usedSkillPoint" readonly>
                    </div>
                </div>
            </div>
            <form th:action="@{/zodiacform}" method="post">
                <input type="hidden" name="attackDmg" id="attackDmg">
            </form>
            <button type="submit" class="submitBtn"> 적용 </button>

        </div>
        <div class="headLink">
            <div class="row">
                <div class="col-3">
                    <button class="weaponPage btn-primary"> 장비 옵션 </button>
                </div>
                <div class="col-3">
                    <button class="zodiacMainPage btn-primary"> 조디악 메인페이지 </button>

                </div>
            </div>
        </div>
        <p class="p"></p>
    </div>
</header>
</html>