<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/default_layout}">
<head>
</head>
<div layout:fragment="contentFragment">
    <div class="container">
        <div class="imgBox">
            <img src="/static/img/t6/nemera.png" class="img" alt="네메라" style="width: 1120px;">
            <input type="checkbox" name="zodiacSkill" class="zodiacSkill start physicIc"
                   style="top:433px; left:41px" th:value="10">
            <!--            위 -->
            <div>
                <input type="checkbox" name="zodiacSkill" class="zodiacSkill first physicIc"
                       style="top:239px; left:239px" th:value="10">
                <input type="checkbox" name="zodiacSkill" class="zodiacSkill physicIc rating"
                       style="top:263px; left:489px" th:value="10" th:value1="10">
                <input type="checkbox" name="zodiacSkill" class="zodiacSkill physicIc"
                       style="top:229px; left:712px" th:value="10">
                <input type="checkbox" name="zodiacSkill" class="zodiacSkill defensePenetration"
                       style="top:276px; left:913px" th:value="8">
            </div>
            <!--            중간-->
            <div>
                <input type="checkbox" name="zodiacSkill" class="zodiacSkill first attackSpeedIc"
                       style="top:430px; left:298px" th:value="2">
                <input type="checkbox" name="zodiacSkill" class="zodiacSkill attackSpeedIc rating"
                       style="top:403px; left:535px" th:value="2" th:value1="10">
                <input type="checkbox" name="zodiacSkill" class="zodiacSkill attackSpeedIc"
                       style="top:428px; left:762px" th:value="2">
                <input type="checkbox" name="zodiacSkill" class="zodiacSkill attackSpeedIc"
                       style="top:413px; left:986px" th:value="4">
            </div>
            <!--            밑-->
            <div>
                <input type="checkbox" name="zodiacSkill" class="zodiacSkill first attackCritical"
                       style="top:590px; left:240px" th:value="10">
                <input type="checkbox" name="zodiacSkill" class="zodiacSkill attackCritical rating"
                       style="top:553px; left:477px" th:value="10" th:value1="10">
                <input type="checkbox" name="zodiacSkill" class="zodiacSkill attackCritical"
                       style="top:606px; left:710px" th:value="10">
                <input type="checkbox" name="zodiacSkill" class="zodiacSkill attackCriticalDmg"
                       style="top:587px; left:917px" th:value="10">
            </div>
        </div>
    </div>
</div>

</html>