<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/default_layout}">
<head>
</head>
<div layout:fragment="contentFragment">
    <div class="container">
        <div class="imgBox">
            <img src="/static/img/t7/muckworm.png" class="img" alt="구더기" style="width: 1120px;">
            <input type="checkbox" name="zodiacSkill" class="zodiacSkill start int"  style="top:237px; left:389px" th:value="5">
            <input type="checkbox" name="zodiacSkill" class="zodiacSkill start str"  style="top:490px; left:148px" th:value="5">
            <input type="checkbox" name="zodiacSkill" class="zodiacSkill start dex"  style="top:241px; left:875px" th:value="5">
            <input type="checkbox" name="zodiacSkill" class="zodiacSkill start nomalIc"  style="top:312px; left:162px" th:value="40">
            <input type="checkbox" name="zodiacSkill" class="zodiacSkill first int" style="top:270px; left:580px" th:value="5">
            <input type="checkbox" name="zodiacSkill" class="zodiacSkill first str" style="top:486px; left:467px" th:value="5">
            <input type="checkbox" name="zodiacSkill" class="zodiacSkill first dex" style="top:376px; left:803px" th:value="5" >
            <input type="checkbox" name="zodiacSkill" class="zodiacSkill second arrowIc"  style="top:396px; left:646px" th:value="30">
            <input type="checkbox" name="zodiacSkill" class="zodiacSkill wideAreaIc"  style="top:382px; left:306px" th:value="30">
            <input type="checkbox" name="zodiacSkill" class="zodiacSkill second meleeIc"  style="top:495px; left:948px" th:value="30">
        </div>
    </div>
</div>
</html>