<!doctype html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/default_layout}" lang="ko">
<head>
    <title>메인</title>
</head>
<div layout:fragment="contentFragment">
    <div class="container">
        <div class="weapon text-center content-body">
            <form method="post">
                <h3> 무기 옵션</h3>
                <label class=" mb-3 wOptionName"> 무기 속도 : </label>
                <input type="number" class="wValue mb-3 mr-3" name="wpSpeed">
                <!--                <label class=" mb-3 wOptionName"> 무기 치명도 : </label>-->
                <!--                <input type="number" class="wValue mb-3 mr-3" name="wpCritical">-->
                <!--                <label class="mb-3 wOptionName">최소 무기 공격력 : </label>-->
                <!--                <input type="number" class="wValue mb-3 mr-3" name="wpMinFlat">-->
                <!--                <label class=" mb-3 wOptionName">최대 무기 공격력 : </label>-->
                <!--                <input type="number" class="wValue mb-3 mr-3" name="wpMaxFlat">-->
                <hr>
                <h3> 나머지 장비 </h3>
                <!--                <label class=" mb-3 wOptionName">최소 물리 플랫 : </label>-->
                <!--                <input type="number" class="wValue mb-3 mr-3" name="wMinElementFlat">-->
                <!--                <label class=" mb-3 wOptionName">최대 물리 플랫 : </label>-->
                <!--                <input type="number" class="wValue mb-3 mr-3" name="wMaxElementFlat">-->
                <!--                <label class=" mb-3 wOptionName">치명도 : </label>-->
                <!--                <input type="number" class="wValue mb-3 mr-3" name="wCritical">-->
                <!--                <label class=" mb-3 wOptionName">치명타 피해 : </label>-->
                <!--                <input type="number" class="wValue mb-3 mr-3" name="wCriticalDmg">-->
                <label class=" mb-3 wOptionName">공격/시전 속도 : </label>
                <input type="number" class="wValue mb-3 mr-3" name="wSpeed">
                <!--                <label class=" mb-3 wOptionName"> 피해 합 % : </label>-->
                <!--                <input type="number" class="wValue mb-3 mr-3" name="wNomalIc"><hr>-->
                <h3> 스킬&링크 룬</h3>
                <!--                <label class=" mb-3 wOptionName">스킬 플랫 : </label>-->
                <!--                <input type="number" class="wValue mb-3 mr-3" name="wMinElementFlat">-->
                <!--                <label class=" mb-3 wOptionName">스킬 피해 % : </label>-->
                <!--                <input type="number" class="wValue mb-3 mr-3" name="wMaxElementFlat">-->
                <!--                <label class=" mb-3 wOptionName"> 물리 증폭 : </label>-->
                <!--                <input type="number" class="wValue mb-3 mr-3" name="wCritical">-->
                <!--                <label class=" mb-3 wOptionName"> 타격 증폭: </label>-->
                <!--                <input type="number" class="wValue mb-3 mr-3" name="wCritical">-->
                <!--                <label class=" mb-3 wOptionName"> 피해 증폭: </label>-->
                <!--                <input type="number" class="wValue mb-3 mr-3" name="wCritical">-->
                <!--                <label class=" mb-3 wOptionName"> 공격 속도 증가: </label>-->
                <!--                <input type="number" class="wValue mb-3 mr-3" name="wCritical">-->
                <!--                <label class=" mb-3 wOptionName"> 공격 속도 증폭: </label>-->
                <!--                <input type="number" class="wValue mb-3 mr-3" name="wCritical">-->
                <button type="submit" class="btn-primary"> 확인</button>
            </form>
        </div>
        <div class="row zodiacTab  content-body">
            <div class="col-lg-3 zodiacTabMain">
                <div class="tear tear1">
                    <h3>티어 1</h3>
                    <div class="zodiacName afros">아프로스  (카운트)</div>
                    <!--                <a th:href="@{/zodiac/t1/cliff}" class="zodiacName"><span>절벽  (카운트)</span></a>-->
                    <!--                <a th:href="@{/zodiac/t1/grassland}" class="zodiacName"><span>초원  (카운트)</span></a>-->
                </div>
                <div class="tear">
                    <h3>티어 2</h3>
                    <!--                <a th:href="@{/zodiac/t2/explorer}" class="zodiacName"><span>탐험가  (카운트)</span></a>-->
                    <!--                <a th:href="@{/zodiac/t2/vagabond}" class="zodiacName"><span>방랑자  (카운트)</span></a>-->
                    <!--                <a th:href="@{/zodiac/t2/bog}" class="zodiacName"><span>늪지 (카운트)</span></a>-->
                    <div class="zodiacName forest">삼림 (카운트)</div>
                </div>
                <div class="tear">
                    <h3>티어 3</h3>
                    <!--                <a th:href="@{/zodiac/t3/eunos}" class="zodiacName"><span>에우노스  (카운트)</span></a>-->
                    <div class="zodiacName rock">바위  (카운트)</div>
                    <!--                <a th:href="@{/zodiac/t3/jewel}" class="zodiacName"><span>보석  (카운트)</span></a>-->
                    <!--                <a th:href="@{/zodiac/t3/gold}" class="zodiacName"><span>황금  (카운트)</span></a>-->
                </div>
                <div class="tear">
                    <h3>티어 4</h3>
                    <div class="zodiacName freere">프리레 (카운트)</div>
                    <!--                <a th:href="@{/zodiac/t4/seed}" class="zodiacName"><span>씨앗  (카운트)</span></a>-->
                    <!--                <a th:href="@{/zodiac/t4/leaf}" class="zodiacName"><span>잎사귀  (카운트)</span></a>-->
                    <!--                <a th:href="@{/zodiac/t4/petal}" class="zodiacName"><span>꽃잎 (카운트)</span></a>-->
                    <!--                <a th:href="@{/zodiac/t4/stem}" class="zodiacName"><span>줄기  (카운트)</span></a>-->
                    <!--                <a th:href="@{/zodiac/t4/root}" class="zodiacName"><span>뿌리  (카운트)</span></a>-->
                </div>
                <div class="tear">
                    <h3>티어 5</h3>
                    <div class="zodiacName contrast">명암  (카운트)</div>
                    <!--                <a th:href="@{/zodiac/t5/glare}" class="zodiacName"><span>섬광  (카운트)</span></a>-->
                    <!--                <a th:href="@{/zodiac/t5/fog}" class="zodiacName"><span>안개  (카운트)</span></a>-->
                    <!--                <a th:href="@{/zodiac/t5/hira}" class="zodiacName"><span>히라  (카운트)</span></a>-->
                    <!--                <a th:href="@{/zodiac/t5/dew}" class="zodiacName"><span>이슬  (카운트)</span></a>-->
                    <!--                <a th:href="@{/zodiac/t5/frost}" class="zodiacName"><span>서리  (카운트)</span></a>-->
                    <!--                <a th:href="@{/zodiac/t5/lightning}" class="zodiacName"><span>번개  (카운트)</span></a>-->
                    <!--                <a th:href="@{/zodiac/t5/rainbow}" class="zodiacName"><span>무지개  (카운트)</span></a>-->
                    <!--                <a th:href="@{/zodiac/t5/fruit}" class="zodiacName"><span>열매 (카운트)</span></a>-->
                    <!--                <a th:href="@{/zodiac/t5/mine}" class="zodiacName"><span>광산  (카운트)</span></a>-->
                </div>
            </div>
            <div class="col-lg-1"></div>
            <div class="col-lg-3">
                <div class="tear">
                    <h3>티어 6</h3>
                    <div class="zodiacName nemera">네메라  (카운트)</div>
                    <!--                <a th:href="@{/zodiac/t6/breath}" class="zodiacName"><span>숨결  (카운트)</span></a>-->
                    <!--                <a th:href="@{/zodiac/t6/flow}" class="zodiacName"><span>흐름  (카운트)</span></a>-->
                    <!--                <a th:href="@{/zodiac/t6/trai}" class="zodiacName"><span>트라이  (카운트)</span></a>-->
                    <!--                <a th:href="@{/zodiac/t6/swimming}" class="zodiacName"><span>유영  (카운트)</span></a>-->
                    <!--                <a th:href="@{/zodiac/t6/cycle}" class="zodiacName"><span>순환  (카운트)</span></a>-->
                    <!--                <a th:href="@{/zodiac/t6/convection}" class="zodiacName"><span>대류  (카운트)</span></a>-->
                    <!--                <a th:href="@{/zodiac/t6/laugh}" class="zodiacName"><span>웃음  (카운트)</span></a>-->
                </div>
                <div class="tear">
                    <h3>티어 7</h3>
<!--                    <div  class="zodiacName dust">먼지  (카운트)</div>-->
                    <div class="zodiacName scent">향기  (카운트)</div>
                    <!--                <a th:href="@{/zodiac/t7/stink}" class="zodiacName"><span>악취  (카운트)</span></a>-->
                    <!--                <a th:href="@{/zodiac/t7/orthemis}" class="zodiacName"><span>오르테미스  (카운트)</span></a>-->
                    <!--                <a th:href="@{/zodiac/t7/atmosphere}" class="zodiacName"><span>대기  (카운트)</span></a>-->
                    <!--                <a th:href="@{/zodiac/t7/venom}" class="zodiacName"><span>맹독  (카운트)</span></a>-->
                    <!--                <a th:href="@{/zodiac/t7/spider}" class="zodiacName"><span>거미  (카운트)</span></a>-->
                    <div class="zodiacName muckworm">구더기 (카운트)</div>
                </div>
                <div class="tear">
                    <h3>티어 8</h3>
                    <!--                <a th:href="@{/zodiac/t8/corruption}" class="zodiacName"><span>부패  (카운트)</span></a>-->
                    <div class="zodiacName plague">역병  (카운트)</div>
                    <!--                <a th:href="@{/zodiac/t8/leia}" class="zodiacName"><span>라이아  (카운트)</span></a>-->
                    <!--                <a th:href="@{/zodiac/t8/carpenter}" class="zodiacName"><span>목수  (카운트)</span></a>-->
                    <!--                <a th:href="@{/zodiac/t8/farmer}" class="zodiacName"><span>농부  (카운트)</span></a>-->
                    <!--                <a th:href="@{/zodiac/t8/hunter}" class="zodiacName"><span>사냥꾼  (카운트)</span></a>-->
                    <!--                <a th:href="@{/zodiac/t8/shepherd}" class="zodiacName"><span>양치기  (카운트)</span></a>-->
                    <!--                <a th:href="@{/zodiac/t8/blacksmith}" class="zodiacName"><span>대장장이  (카운트)</span></a>-->
                    <!--                <a th:href="@{/zodiac/t8/shadow}" class="zodiacName"><span>음영  (카운트)</span></a>-->
                    <!--                <a th:href="@{/zodiac/t8/aurora}" class="zodiacName"><span>오로라  (카운트)</span></a>-->
                </div>
            </div>
            <div class="col-lg-1"></div>
            <div class="col-lg-4">
                <!--            <div>-->
                <!--                <h3>전문화 - 강철</h3>-->
                <!--                <a th:href="@{/zodiac/special/steel}" class="zodiacName"><span>강철  (카운트)</span></a>-->
                <!--                <a th:href="@{/zodiac/special/sadness}" class="zodiacName"><span>슬픔  (카운트)</span></a>-->
                <!--                <a th:href="@{/zodiac/special/tipan}" class="zodiacName"><span>티판  (카운트)</span></a>-->
                <!--                <a th:href="@{/zodiac/special/torchlight}" class="zodiacName"><span>횃불  (카운트)</span></a>-->
                <!--            </div>-->
                <div>
                    <h3>전문화 - 망치</h3>
                    <div class="zodiacName hammer">망치  (카운트)</div>
                    <div class="zodiacName anger">분노  (카운트)</div>
                    <div class="zodiacName bonfire">모닥불  (카운트)</div>
                    <div class="zodiacName flame">불꽃 (카운트)</div>
                </div>
                <!--            <div>-->
                <!--                <h3>전문화 - 어둠</h3>-->
                <!--                <a th:href="@{/zodiac/special/dark}" class="zodiacName"><span>어둠  (카운트)</span></a>-->
                <!--                <a th:href="@{/zodiac/special/straw}" class="zodiacName"><span>스트라  (카운트)</span></a>-->
                <!--                <a th:href="@{/zodiac/special/angler}" class="zodiacName"><span>낚시꾼  (카운트)</span></a>-->
                <!--                <a th:href="@{/zodiac/special/vessel}" class="zodiacName"><span>돛단배  (카운트)</span></a>-->
                <!--            </div>-->
                <!--            <div>-->
                <!--                <h3>전문화 - 광휘</h3>-->
                <!--                <a th:href="@{/zodiac/special/sheen}" class="zodiacName"><span>광휘  (카운트)</span></a>-->
                <!--                <a th:href="@{/zodiac/special/vacuum}" class="zodiacName"><span>진공  (카운트)</span></a>-->
                <!--                <a th:href="@{/zodiac/special/waterfall}" class="zodiacName"><span>폭포  (카운트)</span></a>-->
                <!--                <a th:href="@{/zodiac/special/pirate}" class="zodiacName"><span>해적  (카운트)</span></a>-->
                <!--            </div>-->
                <!--            <div>-->
                <!--                <h3>전문화 - 카스폴</h3>-->
                <!--                <a th:href="@{/zodiac/special/caspol}" class="zodiacName"><span>카스폴  (카운트)</span></a>-->
                <!--                <a th:href="@{/zodiac/special/regret}" class="zodiacName"><span>후회  (카운트)</span></a>-->
                <!--                <a th:href="@{/zodiac/special/lamplight}" class="zodiacName"><span>등불  (카운트)</span></a>-->
                <!--                <a th:href="@{/zodiac/special/brazier}" class="zodiacName"><span>화로  (카운트)</span></a>-->
                <!--            </div>-->
                <!--            <div>-->
                <!--                <h3>전문화 - 그늘</h3>-->
                <!--                <a th:href="@{/zodiac/special/shade}" class="zodiacName"><span>그늘  (카운트)</span></a>-->
                <!--                <a th:href="@{/zodiac/special/craving}" class="zodiacName"><span>욕망  (카운트)</span></a>-->
                <!--                <a th:href="@{/zodiac/special/ganida}" class="zodiacName"><span>가니다  (카운트)</span></a>-->
                <!--                <a th:href="@{/zodiac/special/brook}" class="zodiacName"><span>개울  (카운트)</span></a>-->
                <!--            </div>-->
            </div>
        </div>
<!--        아프로스-->
        <div class="imgBox content-body afrosTab">
            <img src="/static/img/t1/afros.png" class="img" alt="아프로스" style="width: 1120px;">
            <!--                시작   -->
            <input type="checkbox" name="zodiacSkill" class="zodiacSkill start attackIc hpFlat"
                   style="top:372px; left:132px" th:value="5" >
            <!--                위 부분 -->
            <div class="afrosTop">
                <input type="checkbox" name="zodiacSkill" class="zodiacSkill first attackIc"
                       style="top:191px; left:294px" th:value="10">
                <input type="checkbox" name="zodiacSkill" class="zodiacSkill attackHitRating"
                       style="top:228px; left:537px">
                <input type="checkbox" name="zodiacSkill" class="zodiacSkill last attackIc"
                       style="top:193px; left:778px" th:value="10">
            </div>
            <!--                아래 부분 -->
            <div class="afrosBottom">
                <input type="checkbox" name="zodiacSkill" class="zodiacSkill first attackSpeedIc"
                       style="top:558px; left:294px" th:value1="2" >
                <input type="checkbox" name="zodiacSkill" class="zodiacSkill attackHitRating"
                       style="top:515px; left:537px">
                <input type="checkbox" name="zodiacSkill" class="zodiacSkill last  attackSpeedIc"
                       style="top:558px; left:780px" th:value1="2">
            </div>
            <!--                끝 공통 -->
            <input type="checkbox" name="zodiacSkill" class="zodiacSkill end attackIc attackSpeedIc "
                   style="top:368px; left:964px" th:value="20" th:value1="2">
        </div>
<!--      삼림   -->
        <div class="imgBox  content-body forestTab">
            <img src="/static/img/t2/forest.png" class="img" alt="삼림" style="width: 1120px;">
            <input type="checkbox" name="zodiacSkill" class="zodiacSkill nomalIc start" style="top:528px; left:30px"
                   th:value="10">
            <!--            위 -->
            <div>
                <input type="checkbox" name="zodiacSkill" class="zodiacSkill first physicIc"
                       style="top:294px; left:221px" th:value="10">
                <input type="checkbox" name="zodiacSkill" class="zodiacSkill forestSe hitRating" style="top:195px; left:494px"
                       th:value="10">
                <input type="checkbox" name="zodiacSkill" class="zodiacSkill last physicIc"
                       style="top:224px; left:766px" th:value="10">
            </div>
            <!--            아래-->
            <div>
                <input type="checkbox" name="zodiacSkill" class="zodiacSkill first elementIc"
                       style="top:584px; left:340px" th:value="10">
                <input type="checkbox" name="zodiacSkill" class="zodiacSkill forestSe hitRating" style="top:572px; left:655px"
                       th:value="10">
                <input type="checkbox" name="zodiacSkill" class="zodiacSkill last elementIc"
                       style="top:435px; left:882px" th:value="10">
            </div>
            <!--             중간 -->
            <div>
                <input type="checkbox" name="zodiacSkill" class="zodiacSkill center nomalIc"
                       style="top:393px; left:543px" th:value="10">
            </div>
            <!--              끝 -->
            <input type="checkbox" name="zodiacSkill" class="zodiacSkill end nomalIc hitRating"
                   style="top:179px; left:1039px" th:value="20" th:value1="10">
        </div>
<!--        바위 -->
        <div class="imgBox rockTab content-body">
            <img src="/static/img/t3/rock.png" class="img" alt="바위" style="width: 1120px;">
            <input type="checkbox" name="zodiacSkill" class="zodiacSkill start attackIc" style="top:370px; left:57px"
                   th:value="10">
            <!--            위-->
            <div class="top">
                <input type="checkbox" name="zodiacSkill" class="zodiacSkill first hitRating"
                       style="top:177px; left:299px" th:value="10">
                <input type="checkbox" name="zodiacSkill" class="zodiacSkill attackIc hpFlat"
                       style="top:211px; left:543px" th:value="10" th:value1="25">
                <input type="checkbox" name="zodiacSkill" class="zodiacSkill last hpIc"
                       style="top:178px; left:786px" th:value="3">
            </div>
            <!--            중간-->
            <div>
                <input type="checkbox" name="zodiacSkill" class="zodiacSkill first hitRating"
                       style="top:370px; left:299px" th:value="10">
                <input type="checkbox" name="zodiacSkill" class="zodiacSkill attackIc elementRs"
                       style="top:370px; left:543px" th:value="10" th:value1="2">
                <input type="checkbox" name="zodiacSkill" class="zodiacSkill last elementRs"
                       style="top:370px; left:786px" th:value="2">
            </div>
            <!--            밑-->
            <div>
                <input type="checkbox" name="zodiacSkill" class="zodiacSkill first hitRating"
                       style="top:562px; left:299px" th:value="10">
                <input type="checkbox" name="zodiacSkill" class="zodiacSkill attackIc mpFlat"
                       style="top:531px; left:547px" th:value="10" th:value1="30">
                <input type="checkbox" name="zodiacSkill" class="zodiacSkill last mpIc"
                       style="top:562px; left:786px" th:value="5">
            </div>
            <!--            끝-->
            <input type="checkbox" name="zodiacSkill" class="zodiacSkill end attackIc attackSpeedIc"
                   style="top:370px; left:1027px" th:value="10" th:value1="10">
        </div>
<!--        프리레 -->
        <div class="imgBox content-body freereTab">
            <img src="/static/img/t4/freere.png" class="img" alt="프리레" style="width: 1120px;">
            <div>
                <input type="checkbox" name="zodiacSkill" class="zodiacSkill start attackIc "
                       style="top:543px; left:87px" th:value="10">
            </div>
            <div>
                <input type="checkbox" name="zodiacSkill" class="zodiacSkill first meleeIc"
                       style="top:350px; left:196px" th:value="10">
            </div>
            <div>
                <input type="checkbox" name="zodiacSkill" class="zodiacSkill first attackSpeedIc"
                       style="top:422px; left:299px" th:value="2">
            </div>
            <div>
                <input type="checkbox" name="zodiacSkill" class="zodiacSkill first arrowIc"
                       style="top:508px; left:410px" th:value="10">
            </div>
            <div>
                <input type="checkbox" name="zodiacSkill" class="zodiacSkill first continuousIc"
                       style="top:604px; left:516px" th:value="10">
            </div>
            <input type="checkbox" name="zodiacSkill" class="zodiacSkill second attackIc attackRating"
                   style="top:343px; left:540px" th:value="10" th:value1="10">
            <div>
                <input type="checkbox" name="zodiacSkill" class="zodiacSkill third attackCritical"
                       style="top:249px; left:764px" th:value="10">
            </div>
            <div>
                <input type="checkbox" name="zodiacSkill" class="zodiacSkill third continuousIc"
                       style="top:370px; left:812px" th:value="10">
            </div>
            <div>
                <input type="checkbox" name="zodiacSkill" class="zodiacSkill third wideArea"
                       style="top:495px; left:811px"
                       th:value="20">
            </div>
            <div>
                <input type="checkbox" name="zodiacSkill" class="zodiacSkill fourth attackIc mpFlat"
                       style="top:274px; left:1027px" th:value="10" th:value1="30">
            </div>
        </div>
<!--        명암 -->
        <div class="imgBox content-body contrastTab ">
            <img src="/static/img/t5/contrast.png" class="img" alt="명암" style="width: 1120px;">
            <input type="checkbox" name="zodiacSkill" class="zodiacSkill start physicIc"
                   style="top:418px; left:69px" th:value="10">
            <!--          위 에서 부터    1-->
            <div>
                <input type="checkbox" name="zodiacSkill" class="zodiacSkill first nomalIcRs"
                       style="top:329px; left:212px" th:value="2">
                <input type="checkbox" name="zodiacSkill" class="zodiacSkill physicIc hpFlat"
                       style="top:292px; left:467px" th:value="10" th:value1="25">
                <input type="checkbox" name="zodiacSkill" class="zodiacSkill last elementRs"
                       style="top:314px; left:887px" th:value="2">
            </div>
            <!--            2 -->
            <div>
                <input type="checkbox" name="zodiacSkill" class="zodiacSkill first defenseIc"
                       style="top:391px; left:337px" th:value="10">
                <input type="checkbox" name="zodiacSkill" class="zodiacSkill physicIc hpFlat"
                       style="top:355px; left:611px" th:value="10" th:value1="25">
                <input type="checkbox" name="zodiacSkill" class="zodiacSkill last defenseIc"
                       style="top:400px; left:781px" th:value="10">
            </div>
            <!--            3 -->
            <div>
                <input type="checkbox" name="zodiacSkill" class="zodiacSkill first evasionIc"
                       style="top:455px; left:237px" th:value="12">
                <input type="checkbox" name="zodiacSkill" class="zodiacSkill physicIc hpFlat"
                       style="top:439px; left:473px" th:value="10" th:value1="25">
                <input type="checkbox" name="zodiacSkill" class="zodiacSkill last evasionIc"
                       style="top:463px; left:684px" th:value="12">
            </div>
            <!--            4 -->
            <div>
                <input type="checkbox" name="zodiacSkill" class="zodiacSkill first shieldIc"
                       style="top:566px; left:249px" th:value="6">
                <input type="checkbox" name="zodiacSkill" class="zodiacSkill physicIc hpFlat"
                       style="top:535px; left:573px" th:value="10" th:value1="25">
                <input type="checkbox" name="zodiacSkill" class="zodiacSkill last shieldIc"
                       style="top:538px; left:831px" th:value="6">
            </div>

            <input type="checkbox" name="zodiacSkill" class="zodiacSkill end physicIc hpIc"
                   style="top:420px; left:1021px" th:value="10" th:value1="3">
        </div>
<!--       네메라 -->
        <div class="imgBox content-body nemeraTab">
            <img src="/static/img/t6/nemera.png" class="img" alt="네메라" style="width: 1120px;">
            <input type="checkbox" name="zodiacSkill" class="zodiacSkill start physicIc"
                   style="top:433px; left:41px" th:value="10">
            <!--            위 -->
            <div>
                <input type="checkbox" name="zodiacSkill" class="zodiacSkill first physicIc"
                       style="top:239px; left:239px" th:value="10">
                <input type="checkbox" name="zodiacSkill" class="zodiacSkill physicIc rating"
                       style="top:263px; left:489px" th:value="10" th:value1="10">
                <input type="checkbox" name="zodiacSkill" class="zodiacSkill physicIc"
                       style="top:229px; left:712px" th:value="10">
                <input type="checkbox" name="zodiacSkill" class="zodiacSkill defensePenetration"
                       style="top:276px; left:913px" th:value="8">
            </div>
            <!--            중간-->
            <div>
                <input type="checkbox" name="zodiacSkill" class="zodiacSkill first attackSpeedIc"
                       style="top:430px; left:298px" th:value="2">
                <input type="checkbox" name="zodiacSkill" class="zodiacSkill attackSpeedIc rating"
                       style="top:403px; left:535px" th:value="2" th:value1="10">
                <input type="checkbox" name="zodiacSkill" class="zodiacSkill attackSpeedIc"
                       style="top:428px; left:762px" th:value="2">
                <input type="checkbox" name="zodiacSkill" class="zodiacSkill attackSpeedIc"
                       style="top:413px; left:986px" th:value="4">
            </div>
            <!--            밑-->
            <div>
                <input type="checkbox" name="zodiacSkill" class="zodiacSkill first attackCritical"
                       style="top:590px; left:240px" th:value="10">
                <input type="checkbox" name="zodiacSkill" class="zodiacSkill attackCritical rating"
                       style="top:553px; left:477px" th:value="10" th:value1="10">
                <input type="checkbox" name="zodiacSkill" class="zodiacSkill attackCritical"
                       style="top:606px; left:710px" th:value="10">
                <input type="checkbox" name="zodiacSkill" class="zodiacSkill attackCriticalDmg"
                       style="top:587px; left:917px" th:value="10">
            </div>
        </div>
<!--        구더기 -->
        <div class="imgBox content-body muckwormTab">
            <img src="/static/img/t7/muckworm.png" class="img" alt="구더기" style="width: 1120px;">
            <div class="intBox">
                <input type="checkbox" name="zodiacSkill" class="zodiacSkill start int" style="top:237px; left:389px"
                       th:value="5">
                <input type="checkbox" name="zodiacSkill" class="zodiacSkill secondInt  int"
                       style="top:270px; left:580px"
                       th:value="5">
            </div>
            <div class="strBox">
                <input type="checkbox" name="zodiacSkill" class="zodiacSkill start str" style="top:490px; left:148px"
                       th:value="5">
                <input type="checkbox" name="zodiacSkill" class="zodiacSkill secondStr str"
                       style="top:486px; left:467px"
                       th:value="5">
            </div>
            <div class="dexBox">
                <input type="checkbox" name="zodiacSkill" class="zodiacSkill start dex" style="top:241px; left:875px"
                       th:value="5">
                <input type="checkbox" name="zodiacSkill" class="zodiacSkill secondDex  dex"
                       style="top:376px; left:803px"
                       th:value="5">
            </div>
            <div>
                <input type="checkbox" name="zodiacSkill" class="zodiacSkill  arrowIc" style="top:396px; left:646px"
                       th:value="30">
            </div>
            <div>
                <input type="checkbox" name="zodiacSkill" class="zodiacSkill wideAreaIc" style="top:382px; left:306px"
                       th:value="30">
            </div>
            <div>
                <input type="checkbox" name="zodiacSkill" class="zodiacSkill  meleeIc" style="top:495px; left:948px"
                       th:value="30">
            </div>
            <div>
                <input type="checkbox" name="zodiacSkill" class="zodiacSkill alone nomalIc"
                       style="top:312px; left:162px"
                       th:value="40">
            </div>
        </div>
<!--        향기 -->
        <div class="imgBox content-body scentTab">
<!--            <img src="/static/img/t7/scent.png" class="img" alt="향기" style="width: 1120px;">-->
            <input type="checkbox" name="zodiacSkill" class="zodiacSkill start physicIc" style="top:343px; left:41px"
                   th:value="10">
            <div class="skillOption" style="top:393px; left:38px"> 피해+9%</div>
            <div class="skillLine" style="width:280px; top:260px; left:20px;  transform:rotate(-47deg) "  ></div>
            <div class="skillLine" style="width:230px; top:320px; left:45px;  transform:rotate(-20deg) "  ></div>
            <div class="skillLine" style="width:230px; top:400px; left:45px;  transform:rotate(20deg) "  ></div>
            <div class="skillLine" style="width:250px; top:455px; left:34px;  transform:rotate(47deg) "  ></div>
            <div class="skillLine" style="width:700px; top:175px; left:250px;"></div>
            <div class="skillLine" style="width:700px; top:295px; left:250px;"  ></div>
            <div class="skillLine" style="width:700px; top:430px; left:250px;"  ></div>
            <div class="skillLine" style="width:700px; top:565px; left:250px;"  ></div>
            <!--            위에서 부터 1-->
            <div>
                <input type="checkbox" name="zodiacSkill" class="zodiacSkill first rating" style="top:150px; left:239px"
                       th:value="10">
                <div class="skillOption" style="top:200px; left:228px"> 적중도+10%</div>

                <input type="checkbox" name="zodiacSkill" class="zodiacSkill second wideAreaIc"
                       style="top:150px; left:489px" th:value="20">
                <div class="skillOption" style="top:200px; left:470px;"> 광역피해+20%</div>

                <input type="checkbox" name="zodiacSkill" class="zodiacSkill third wideAreaIc"
                       style="top:150px; left:712px" th:value="10">
                <div class="skillOption" style="top:200px; left:700px;"> 광역피해+10%</div>

                <input type="checkbox" name="zodiacSkill" class="zodiacSkill fourth wideArea"
                       style="top:150px; left:913px" th:value="40">
                <div class="skillOption" style="top:200px; left:900px;"> 광역범위+40%</div>
            </div>
            <!--               2-->
            <div>
                <input type="checkbox" name="zodiacSkill" class="zodiacSkill first rating" style="top:270px; left:239px"
                       th:value="10">
                <div class="skillOption" style="top:320px; left:228px"> 적중도+10%</div>

                <input type="checkbox" name="zodiacSkill" class="zodiacSkill second nomalIc"
                       style="top:270px; left:489px" th:value="25">
                <div class="skillOption" style="top:320px; left:450px;"> 정예에게 피해+20%</div>
                <input type="checkbox" name="zodiacSkill" class="zodiacSkill third nomalIc"
                       style="top:270px; left:712px" th:value="9">
                <div class="skillOption" style="top:320px; left:700px;"> 피해+9%</div>

                <input type="checkbox" name="zodiacSkill" class="zodiacSkill fourth" style="top:270px; left:913px"
                       th:value="3">
                <div class="skillOption" style="top:320px; left:880px;"> 정예에게 받는피해+3% 감소</div>
            </div>
            <!--            3-->
            <div>
                <input type="checkbox" name="zodiacSkill" class="zodiacSkill first critical"
                       style="top:410px; left:239px" th:value="10">
                <div class="skillOption" style="top:460px; left:228px"> 치명도+10%</div>
                <input type="checkbox" name="zodiacSkill" class="zodiacSkill second critical criticalDmg"
                       style="top:410px; left:489px" th:value="10" th:value1="5">
                <div class="skillOption" style="top:460px; left:450px">
                  <p> 치명도+10% </p>
                  <p> 치명타 피해 +5%</p>
                </div>
                <input type="checkbox" name="zodiacSkill" class="zodiacSkill third critical"
                       style="top:410px; left:712px" th:value="10">
                <div class="skillOption" style="top:460px; left:700px"> 치명도+10%</div>
                <input type="checkbox" name="zodiacSkill" class="zodiacSkill fourth  nomalIc"
                       style="top:410px; left:913px" th:value="40">
                <div class="skillOption" style="top:460px; left:880px"> 치명타 시 2초간 피해+40%</div>
            </div>
            <!--            4-->
            <div>
                <input type="checkbox" name="zodiacSkill" class="zodiacSkill first nomalIc"
                       style="top:540px; left:239px" th:value="9">
                <div class="skillOption" style="top:590px; left:228px"> 피해+9%</div>

                <input type="checkbox" name="zodiacSkill" class="zodiacSkill second nomalIc attackSpeedIc spellSpeedIc"
                       style="top:540px; left:489px" th:value="9" th:value1="2" th:value2="2">
                <div class="skillOption" style="top:590px; left:450px">
                    <p> 피해+10% </p>
                    <p> 공격 속도+2%</p>
                    <p> 시전 속도+2%</p>
                </div>

                <input type="checkbox" name="zodiacSkill" class="zodiacSkill third nomalIc"
                       style="top:540px; left:712px" th:value="9">
                <div class="skillOption" style="top:590px; left:700px"> 피해 +9%</div>

                <input type="checkbox" name="zodiacSkill" class="zodiacSkill fourth  nomalIc"
                       style="top:540px; left:913px" th:value="40">
                <div class="skillOption" style="top:590px; left:880px"> 빛나감 시 피해+40%</div>
            </div>
        </div>
<!--        역병 -->
        <div class="imgBox content-body plagueTab">
            <img src="/static/img/t8/plague.png" class="img" alt="향기" style="width: 1120px;">
            <input type="checkbox" name="zodiacSkill" class="zodiacSkill start nomalIc" style="top:270px; left:41px"
                   th:value="10">
            <!--            위 -->
            <div>
                <input type="checkbox" name="zodiacSkill" class="zodiacSkill first attackRating"
                       style="top:100px; left:239px" th:value="10">
                <input type="checkbox" name="zodiacSkill" class="zodiacSkill physicIc"
                       style="top:100px; left:489px" th:value="30">
                <input type="checkbox" name="zodiacSkill" class="zodiacSkill last attackSpeed"
                       style="top:100px; left:712px" th:value1="2">
            </div>
            <!--            중간-->
            <div>
                <input type="checkbox" name="zodiacSkill" class="zodiacSkill first critical"
                       style="top:270px; left:239px" th:value="10">
                <input type="checkbox" name="zodiacSkill" class="zodiacSkill nomalIc critical"
                       style="top:270px; left:489px" th:value="10" th:value1="20">
                <input type="checkbox" name="zodiacSkill" class="zodiacSkill last criticalDmg"
                       style="top:270px; left:712px" th:value4="5">
            </div>
            <!--            밑 -->
            <div>
                <input type="checkbox" name="zodiacSkill" class="zodiacSkill first spellRating"
                       style="top:460px; left:239px" th:value="10">
                <input type="checkbox" name="zodiacSkill" class="zodiacSkill elementIc"
                       style="top:460px; left:489px" th:value="10" th:value1="30">
                <input type="checkbox" name="zodiacSkill" class="zodiacSkill last spellSpeedIc"
                       style="top:460px; left:712px" th:value3="10">
            </div>

            <!--            중앙 -->
            <input type="checkbox" name="zodiacSkill" class="zodiacSkill end nomalIc" style="top:270px; left:913px"
                   th:value="30">
            <!--            중앙 다음 위-->
            <div>
                <input type="checkbox" name="zodiacSkill" class="zodiacSkill endNext fifth  physicIc"
                       style="top:100px; left:1163px" th:value="10">
                <input type="checkbox" name="zodiacSkill" class="zodiacSkill criticalDmg"
                       style="top:100px; left:1413px" th:value="15">
            </div>
            <!--            중앙 다음 중간-->
            <div>
                <input type="checkbox" name="zodiacSkill" class="zodiacSkill endNext fifth  nomalIc"
                       style="top:270px; left:1163px" th:value="10">
                <input type="checkbox" name="zodiacSkill" class="zodiacSkill nomalIc"
                       style="top:270px; left:1413px" th:value="15">
            </div>
            <!--            중앙 다음 밑-->
            <div>
                <input type="checkbox" name="zodiacSkill" class="zodiacSkill endNext elementIc"
                       style="top:460px; left:1163px" th:value="10">
                <input type="checkbox" name="zodiacSkill" class="zodiacSkill  critical"
                       style="top:460px; left:1413px" th:value="15">
            </div>
        </div>
<!--        전문화 -->
<!--        망치 -->
        <div class="imgBox content-body hammerTab">
            <img src="/static/img/special/hammer/hammer.png" class="img" alt="망치" style="width: 1120px;">
            <input type="checkbox" name="zodiacSkill" class="zodiacSkill start attackIc" style="top:50px; left:50%"
                   th:value="15">
            <!--           왼쪽부터 1  -->
            <div>
                <input type="checkbox" name="zodiacSkill" class="zodiacSkill first wideAreaIc"
                       style="top:170px; left:150px" th:value="15">
                <input type="checkbox" name="zodiacSkill" class="zodiacSkill wideAreaIc wideArea"
                       style="top:340px; left:150px" th:value="20" th:value1="30">
            </div>
            <!--           왼쪽부터 2  -->
            <div>
                <input type="checkbox" name="zodiacSkill" class="zodiacSkill first" style="top:170px; left:450px">
                <input type="checkbox" name="zodiacSkill" class="zodiacSkill nomalIc attackSpeedIc"
                       style="top:340px; left:450px" th:value4="50" th:value1="10">
                <input type="checkbox" name="zodiacSkill" class="zodiacSkill spellSpeedIc" style="top:510px; left:450px"
                       th:value3="10">
                <input type="checkbox" name="zodiacSkill" class="zodiacSkill attackCritical attackCriticalDmg"
                       style="top:680px; left:450px" th:value3="40" th:value="20">
            </div>
            <!--           왼쪽부터 3  -->
            <div>
                <input type="checkbox" name="zodiacSkill" class="zodiacSkill first" style="top:170px; left:719px">
                <input type="checkbox" name="zodiacSkill" class="zodiacSkill nomalIc" style="top:340px; left:719px"
                       th:value="30">
                <input type="checkbox" name="zodiacSkill" class="zodiacSkill " style="top:510px; left:719px">
                <input type="checkbox" name="zodiacSkill" class="zodiacSkill " style="top:680px; left:719px"
                       th:value="10">
            </div>
            <!--           왼쪽부터 4  -->
            <div>
                <input type="checkbox" name="zodiacSkill" class="zodiacSkill first" style="top:170px; left:1000px"
                       th:value="15">
                <input type="checkbox" name="zodiacSkill" class="zodiacSkill meleeIc" style="top:340px; left:1000px"
                       th:value="15">
            </div>
        </div>
<!--        분노 -->
        <div class="imgBox content-body angerTab">
            <img src="/static/img/special/hammer/anger.png" class="img" alt="망치" style="width: 1120px;">
            <input type="checkbox" name="zodiacSkill" class="zodiacSkill start attackIc" style="top:60%; left:50%"
                   th:value="15">
            <!--            왼 위-->
            <div>
                <input type="checkbox" name="zodiacSkill" class="zodiacSkill first moveSpeed"
                       style="top:100px; left:400px">
                <input type="checkbox" name="zodiacSkill" class="zodiacSkill fourth" style="top:100px; left:200px"
                       th:value="30">
            </div>
            <!--            위 중-->
            <div>
                <input type="checkbox" name="zodiacSkill" class="zodiacSkill first" style="top:270px; left:400px">
                <input type="checkbox" name="zodiacSkill" class="zodiacSkill second attackCritical attackCriticalDmg"
                       style="top:270px; left:200px" th:value="50" th:value1="25">
                <input type="checkbox" name="zodiacSkill" class="zodiacSkill third " style="top:270px; left:0px">
                <input type="checkbox" name="zodiacSkill" class="zodiacSkill fourth nomalIc"
                       style="top:270px; left:-200px" th:value="40">
            </div>
            <!--            왼 밑-->
            <div>
                <input type="checkbox" name="zodiacSkill" class="zodiacSkill first" style="top:460px; left:400px">
                <input type="checkbox" name="zodiacSkill" class="zodiacSkill second" style="top:460px; left:200px">
                <input type="checkbox" name="zodiacSkill" class="zodiacSkill third " style="top:460px; left:0px">
                <input type="checkbox" name="zodiacSkill" class="zodiacSkill fourth physicFlat"
                       style="top:460px; left:-200px" th:value="30">
            </div>
            <!--            오 위-->
            <div>
                <input type="checkbox" name="zodiacSkill" class="zodiacSkill first" style="top:100px; left:63%">
                <input type="checkbox" name="zodiacSkill" class="zodiacSkill second" style="top:100px; left:83%">
                <input type="checkbox" name="zodiacSkill" class="zodiacSkill third" style="top:100px; left:103%">
                <input type="checkbox" name="zodiacSkill" class="zodiacSkill fourth" style="top:100px; left:123%">
            </div>
            <!--            오 중-->
            <div>
                <input type="checkbox" name="zodiacSkill" class="zodiacSkill first" style="top:270px; left:63%">
                <input type="checkbox" name="zodiacSkill" class="zodiacSkill second" style="top:270px; left:83%">
                <input type="checkbox" name="zodiacSkill" class="zodiacSkill third" style="top:270px; left:103%">
                <input type="checkbox" name="zodiacSkill" class="zodiacSkill fourth" style="top:270px; left:123%">
            </div>
            <!--            오 밑-->
            <div>
                <input type="checkbox" name="zodiacSkill" class="zodiacSkill first" style="top:460px; left:63%">
                <input type="checkbox" name="zodiacSkill" class="zodiacSkill fourth" style="top:460px; left:83%">
            </div>
        </div>
<!--        모닥불 -->
        <div class="imgBox content-body bonfireTab">
            <img src="/static/img/special/hammer/bonfire.png" class="img" alt="망치" style="width: 1120px;">
            <input type="checkbox" name="zodiacSkill" class="zodiacSkill start attackIc" style="top:60%; left:50%" th:value="15">
            <!--       왼     위-->
            <div>
                <input type="checkbox" name="zodiacSkill" class="zodiacSkill first attackSpeedIc" style="top:100px; left:400px" th:value="3">
                <input type="checkbox" name="zodiacSkill" class="zodiacSkill second attackSpeedAc"  style="top:100px; left:200px" th:value="9">
                <input type="checkbox" name="zodiacSkill" class="zodiacSkill third attackSpeedIc " style="top:100px; left:0px" th:value1="3">
                <input type="checkbox" name="zodiacSkill" class="zodiacSkill fourth" style="top:100px; left:-200px">
            </div>
            <!--       왼     중 -->
            <div>
                <input type="checkbox" name="zodiacSkill" class="zodiacSkill first" style="top:270px; left:400px">
                <input type="checkbox" name="zodiacSkill" class="zodiacSkill second"  style="top:270px; left:200px" >
                <input type="checkbox" name="zodiacSkill" class="zodiacSkill third " style="top:270px; left:0px" >
                <input type="checkbox" name="zodiacSkill" class="zodiacSkill fourth " style="top:270px; left:-200px">
            </div>
            <!--       왼      밑-->
            <div>
                <input type="checkbox" name="zodiacSkill" class="zodiacSkill first" style="top:460px; left:400px">
                <input type="checkbox" name="zodiacSkill" class="zodiacSkill fourth" style="top:460px; left:200px">
            </div>

            <!--        오      위-->
            <div>
                <input type="checkbox" name="zodiacSkill" class="zodiacSkill first" style="top:100px; left:63%">
                <input type="checkbox" name="zodiacSkill" class="zodiacSkill fourth" style="top:100px; left:83%">
            </div>
            <!--        오      중-->
            <div>
                <input type="checkbox" name="zodiacSkill" class="zodiacSkill first attackCritical" style="top:270px; left:63%" th:value="15">
                <input type="checkbox" name="zodiacSkill" class="zodiacSkill second physicIc"  style="top:270px; left:83%" th:value="75">
                <input type="checkbox" name="zodiacSkill" class="zodiacSkill third attackCriticalDmg" style="top:270px; left:103%" th:value1="10">
                <input type="checkbox" name="zodiacSkill" class="zodiacSkill physicAc" style="top:270px; left:123%" th:value="30">
            </div>
            <!--        오      밑-->
            <div>
                <input type="checkbox" name="zodiacSkill" class="zodiacSkill first attackIc" style="top:460px; left:63%" th:value="15">
                <input type="checkbox" name="zodiacSkill" class="zodiacSkill second hitAc"  style="top:460px; left:83%" th:value="10">
                <input type="checkbox" name="zodiacSkill" class="zodiacSkill third attackIc" style="top:460px; left:103%" th:value1="15">
                <input type="checkbox" name="zodiacSkill" class="zodiacSkill fourth nomalAc" style="top:460px; left:123%" th:value="20">
            </div>
        </div>
<!--        불꽃-->
        <div class="imgBox content-body flameTab">
            <input type="checkbox" name="zodiacSkill" class="zodiacSkill start attackIc"  style="top:270px; left:50%" th:value="15">
            <!--       좌     -->
            <div>
                <input type="checkbox" name="zodiacSkill" class="zodiacSkill first attackIc" style="top:100px; left:400px" th:value="15">
                <input type="checkbox" name="zodiacSkill" class="zodiacSkill second"  style="top:100px; left:200px">
                <input type="checkbox" name="zodiacSkill" class="zodiacSkill third attackIc" style="top:100px; left:0px" th:value1="15">
                <input type="checkbox" name="zodiacSkill" class="zodiacSkill" style="top:100px; left:-200px">
            </div>
            <div>
                <input type="checkbox" name="zodiacSkill" class="zodiacSkill first attackIc" style="top:270px; left:400px" th:value="15">
                <input type="checkbox" name="zodiacSkill" class="zodiacSkill fourth nomalAc" style="top:270px; left:200px" th:value="10">
            </div>
            <div>
                <input type="checkbox" name="zodiacSkill" class="zodiacSkill first attackIc" style="top:460px; left:400px" th:value="15">
                <input type="checkbox" name="zodiacSkill" class="zodiacSkill second nomalAc"  style="top:460px; left:200px" th:value="15" >
                <input type="checkbox" name="zodiacSkill" class="zodiacSkill third attackIc " style="top:460px; left:0px" th:value="15">
                <input type="checkbox" name="zodiacSkill" class="zodiacSkill fourth" style="top:460px; left:-200px">
            </div>
            <!--   우      -->
            <div>
                <input type="checkbox" name="zodiacSkill" class="zodiacSkill first attackSpeedIc" style="top:100px; left:63%" th:value="3">
                <input type="checkbox" name="zodiacSkill" class="zodiacSkill second attackSpeedIc"  style="top:100px; left:83%" th:value="45">
                <input type="checkbox" name="zodiacSkill" class="zodiacSkill third attackSpeedIc" style="top:100px; left:103%" th:value1="3">
                <input type="checkbox" name="zodiacSkill" class="zodiacSkill attackCritical attackCriticalDmg" style="top:100px; left:123%" th:value="42" th:value1="28">
            </div>
            <div>
                <input type="checkbox" name="zodiacSkill" class="zodiacSkill first" style="top:270px; left:63%">
                <input type="checkbox" name="zodiacSkill" class="zodiacSkill fourth" style="top:270px; left:83%">
            </div>
            <div>
                <input type="checkbox" name="zodiacSkill" class="zodiacSkill first attackIc" style="top:460px; left:63%" th:value="15">
                <input type="checkbox" name="zodiacSkill" class="zodiacSkill second wideAreaIc"  style="top:460px; left:83%" th:value="40">
                <input type="checkbox" name="zodiacSkill" class="zodiacSkill third attackIc" style="top:460px; left:103%" th:value1="15">
                <input type="checkbox" name="zodiacSkill" class="zodiacSkill fourth wideAreaAc" style="top:460px; left:123%" th:value="10">
            </div>
        </div>
    </div>
</div>
</html>