<!doctype html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/default_layout}">
<head>
</head>
<div layout:fragment="contentFragment" class="container">
<!--    <div class="row">-->
<!--        <div class="weapon col-lg-6">-->
<!--            <h3> 무기</h3>-->
<!--            <span>무기 종류 :</span>-->
<!--            <select id="weaponCategory">-->
<!--                <option value="bow"> 활</option>-->
<!--                <option value="bow"> 도끼</option>-->
<!--                <option value="bow"> 화살통</option>-->
<!--                <option value="bow"> 활</option>-->
<!--            </select>-->
<!--            <select class="bow"> &lt;!&ndash; db 에서 가져와서 뿌려줌&ndash;&gt;-->
<!--            </select>-->
<!--        </div>-->
<!--        <div class="optionResult">-->
<!--            결과-->
<!--        </div>-->
<!--    </div>-->
</div>

</html>