<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" href="/static/css/style.css">
    <link rel="stylesheet" type="text/css" href="/static/css/plugin/all.css">
    <link rel="stylesheet" type="text/css" href="/static/css/plugin/bootstrap.css">
    <script type="text/javascript"  src="/static/js/plugin/jquery-1.12.4.js"></script>
    <script type="text/javascript"  src="/static/js/plugin/popper.min.js"></script>
    <script type="text/javascript"  src="/static/js/plugin/bootstrap.js"></script>
    <script src="/static/js/localStorage.js"></script>

</head>
<body>
<div class="container">
   <h1 class="text-center head"> 언디셈버 DPS 계산기</h1>
    <div class="meum">
        <a th:href="@{/zodiacmain}"><span> 조디악</span></a>
        <span> 장비</span>
    </div>
</div>

</body>
</html>