<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/default_layout}">
<head>
</head>
<div layout:fragment="contentFragment">
    <div class="container">
        <div class="a">
            <div class="imgBox">
                <img src="/static/img/t1/afros.png" class="img" alt="아프로스" style="width: 1120px;">
                <input type="checkbox" name="zodiacSkill" class="zodiacSkill" id="start" style="top:126px; left:46px">
                <input type="checkbox" name="zodiacSkill" class="zodiacSkill first" style="top:64px; left:99px">
                <input type="checkbox" name="zodiacSkill" class="zodiacSkill first" style="top:187px; left:99px">
                <input type="checkbox" name="zodiacSkill" class="zodiacSkill second"  style="top:78px; left:180px">
                <input type="checkbox" name="zodiacSkill" class="zodiacSkill second" style="top:172px; left:180px">
                <input type="checkbox" name="zodiacSkill" class="zodiacSkill third" style="top:66px; left:260px">
                <input type="checkbox" name="zodiacSkill" class="zodiacSkill third" style="top:187px; left:261px">
                <input type="checkbox" name="zodiacSkill" class="zodiacSkill fourth" style="top:125px; left:323px">
            </div>
        </div>
    </div>

</html>