<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/default_layout}">
<head>
</head>
<div layout:fragment="contentFragment">
    <div class="container">
        <div class="imgBox">
            <img src="/static/img/t8/plague.png" class="img" alt="향기" style="width: 1120px;">
            <input type="checkbox" name="zodiacSkill" class="zodiacSkill start nomalIc" style="top:270px; left:41px"
                   th:value="10">
            <!--            위 -->
            <div>
                <input type="checkbox" name="zodiacSkill" class="zodiacSkill first attackRating"
                       style="top:100px; left:239px" th:value="10">
                <input type="checkbox" name="zodiacSkill" class="zodiacSkill physicIc"
                       style="top:100px; left:489px" th:value="30">
                <input type="checkbox" name="zodiacSkill" class="zodiacSkill last attackSpeed"
                       style="top:100px; left:712px" th:value1="2">
            </div>
            <!--            중간-->
            <div>
                <input type="checkbox" name="zodiacSkill" class="zodiacSkill first critical"
                       style="top:270px; left:239px" th:value="10">
                <input type="checkbox" name="zodiacSkill" class="zodiacSkill nomalIc critical"
                       style="top:270px; left:489px" th:value="10" th:value1="20">
                <input type="checkbox" name="zodiacSkill" class="zodiacSkill last criticalDmg"
                       style="top:270px; left:712px" th:value4="5">
            </div>
            <!--            밑 -->
            <div>
                <input type="checkbox" name="zodiacSkill" class="zodiacSkill first spellRating"
                       style="top:460px; left:239px" th:value="10">
                <input type="checkbox" name="zodiacSkill" class="zodiacSkill elementIc"
                       style="top:460px; left:489px" th:value="10" th:value1="30">
                <input type="checkbox" name="zodiacSkill" class="zodiacSkill last spellSpeedIc"
                       style="top:460px; left:712px" th:value3="10">
            </div>

            <!--            중앙 -->
            <input type="checkbox" name="zodiacSkill" class="zodiacSkill end nomalIc" style="top:270px; left:913px"
                   th:value="30">
            <!--            중앙 다음 위-->
            <div>
                <input type="checkbox" name="zodiacSkill" class="zodiacSkill endNext fifth  physicIc"
                       style="top:100px; left:1163px" th:value="10">
                <input type="checkbox" name="zodiacSkill" class="zodiacSkill criticalDmg"
                       style="top:100px; left:1413px" th:value="15">
            </div>
            <!--            중앙 다음 중간-->
            <div>
                <input type="checkbox" name="zodiacSkill" class="zodiacSkill endNext fifth  nomalIc"
                       style="top:270px; left:1163px" th:value="10">
                <input type="checkbox" name="zodiacSkill" class="zodiacSkill nomalIc"
                       style="top:270px; left:1413px" th:value="15">
            </div>
            <!--            중앙 다음 밑-->
            <div>
                <input type="checkbox" name="zodiacSkill" class="zodiacSkill endNext elementIc"
                       style="top:460px; left:1163px" th:value="10">
                <input type="checkbox" name="zodiacSkill" class="zodiacSkill  critical"
                       style="top:460px; left:1413px" th:value="15">
            </div>
        </div>
    </div>
    <script>
        $(document).ready(function (){
          $(".end").click(function (){
              if($(this).is(":checked") === true){
                  $(".endNext").prop("disabled" , false);
              }
          })
        })

    </script>
</div>
</html>